@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    font-family: Roboto;
    display: flex;
    justify-content: center;
}

main {
    width: 336px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;   
}

