@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

html, body{
    height: 100%;
    margin: 0;
    padding:0;
}

body {
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 336px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;   
}

.yellow-line {
    width: 336px;
    height: 28px;
    /* background: #FFDC40; */
    background: linear-gradient(135deg, rgb(255, 220, 64), rgb(195, 120, 231));
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.head-name {
    font-size: 26px;
    display: flex;
    margin-top: 13px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.div-for-sort-button {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.sort-button {
    border: 0px;
    background-color: white;
    display: flex;
}

.list {
    width: 286px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    margin: auto;
    margin-top: 11px;
    flex-direction: column;
}

.input-field {
    width: 286px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    margin: auto;
    margin: 0px;
    justify-content: space-evenly;
}

.to-do-string {
    width: 70%;
    height: 20px;
    border: 0px;
    margin-top: 8px;
}

.delete-button {
    border: 0px;
    background-color: white;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.add-button {
    width: 150px;
    height: 42px;
    /* background: #9953F1; */
    background: linear-gradient(135deg, rgb(0, 239, 185), rgb(213, 7, 220));
    border: 0px;
    border-radius: 71px;
    display: flex;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 19px;
}

.add-symbol {
    width: 42px;
    height: 42px;
    /* background: #AA68FE; */
    background: linear-gradient(135deg, rgb(220, 124, 236), rgb(248, 128, 174), rgb(172, 134, 238));
    border-radius: 71px;
    margin-top: -1px; 
    margin-left: -6px;  
    line-height: 43px;
    color: white;
}

.add-text {
    margin: 0px;
    padding-left: 11px;
    padding-top: 14px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}